
@-ms-viewport{
  width: device-width;}

.top{width: 100%;height: 500px;background-image: url("chakra.png");background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;}
hr{border-top: 2px solid white;}
body{min-height: 100%;}
.navbar{background-color: #343434;}
#search{border: 1px solid #FF00FF;color: #FF00FF;}
#navi{color:red;}
#navi2{color: orange;}
#navi3{color: yellow;}
#navi4{color: #32CD32;}
#navi5{color: #1E90FF;}
#navi6{color:#0000CD;}
#navi,#navi2,#navi3,#navi4,#navi5,#navi6{font-family: 'Comfortaa',cursive;font-weight: bold;}
.middle{margin: 0;padding-bottom: 20px;background-color:#D8D8D8;}
h3{font-size: 30px;color: white;text-align: center;font-family: 'Comfortaa',cursive;padding-top: 30px;padding-bottom: 15px;}
h6{font-size: 20px;color: white;text-align: center;font-family: 'Comfortaa',cursive;padding-top: 7.5px;}
h1{text-align: center;}
h2{padding-top: 50px;}
h2,h4,p{color:#343434;font-family: 'Comfortaa',cursive;text-align: center;font-weight: bolder;}
p{margin-left : 350px;margin-right: 350px;padding-bottom: 40px;}
.fl{color: white;animation: 4s slide-right; font-family:'Comfortaa', cursive;padding-top: 50px;}
.sl{color:white;animation: 4s slide-left;font-family: 'Comfortaa',cursive;}
@keyframes slide-left{
    from {
       margin-right: -2000px;
    }

    to {
       margin-right: 0%;
    }
  }


@keyframes slide-right{
  from{
    margin-left: -2000px;
  }

to {
  margin-left: : 0%;
}
}
#quiz{align-self: center;background-color: black;border-radius: 65px;height: 450px;width: 400px;margin-bottom: 40px;}
.quiz{font-family: 'Comfortaa',cursive;padding: 5px 10px;font-size: 20px;display: flex;justify-content: center;margin: auto;position: relative;top:100px;border-radius: 5px;border: 2px solid;border-color: white;background-color: black;color:  white;}
footer{background-color:#343434;text-align: center;color: white;padding: 0;margin: 0;}
.f1{padding-top: 25px;font-weight: lighter;font-size: 15px;margin: 0;}
.f2{padding-bottom: 15px;font-weight: lighter;font-size: 15px;margin: 0;}
@media only screen and (max-device-width:480px){.navbar{height:60px;}
  #navi,#navi2,#navi3,#navi4,#navi5,#navi6{font-size: 25px;}.top{height:500px;background-size:cover;width:100%;}p{overflow-wrap:normal;margin:auto;padding:10px 5px;}
}
